{
  "openapi": "3.0.3",
  "info": {
    "title": "PagueBit Public API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.paguebit.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api-public/payments": {
      "post": {
        "summary": "Criar pagamento dinâmico",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount"],
                "properties": {
                  "amount": { "type": "number", "minimum": 5, "maximum": 3000 },
                  "email": { "type": "string" },
                  "observation": { "type": "string" },
                  "webhookUrl": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pagamento criado com sucesso"
          }
        }
      },
      "get": {
        "summary": "Listar pagamentos por loja",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1, "minimum": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["pending", "approved", "review", "not_approved"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de pagamentos"
          }
        }
      }
    },
    "/api-public/payments/{id}": {
      "get": {
        "summary": "Buscar pagamento por ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Pagamento encontrado"
          },
          "404": {
            "description": "Pagamento não encontrado"
          }
        }
      }
    }
  }
}
