{
  "openapi": "3.0.3",
  "info": {
    "title": "Dominipay Public API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://public-api-prod.dominipay.com.br"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "PaymentPublicView": {
        "type": "object",
        "required": [
          "id",
          "status",
          "amount",
          "storeId",
          "createdAt",
          "email",
          "isPublic"
        ],
        "properties": {
          "id": { "type": "string" },
          "status": { "type": "string" },
          "amount": { "type": "number" },
          "feeAmount": { "type": "number", "nullable": true },
          "liquidValue": { "type": "number", "nullable": true },
          "storeId": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "observation": { "type": "string", "nullable": true },
          "email": { "type": "string" },
          "qrCodeUrl": { "type": "string", "nullable": true },
          "qrCopyPaste": { "type": "string", "nullable": true },
          "isPublic": { "type": "boolean" }
        }
      },
      "PaymentGetView": {
        "allOf": [
          { "$ref": "#/components/schemas/PaymentPublicView" },
          {
            "type": "object",
            "properties": {
              "webhookUrl": { "type": "string", "nullable": true }
            }
          }
        ]
      },
      "ListPaymentsResponse": {
        "type": "object",
        "required": ["items", "page", "limit", "total"],
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PaymentGetView" }
          },
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "total": { "type": "integer" }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": ["amount"],
        "properties": {
          "amount": { "type": "number", "minimum": 5, "maximum": 3000 },
          "email": { "type": "string", "format": "email" },
          "observation": { "type": "string", "maxLength": 2048 },
          "webhookUrl": { "type": "string", "format": "uri" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["statusCode", "message"],
        "properties": {
          "statusCode": { "type": "integer" },
          "message": {
            "oneOf": [
              { "type": "string" },
              { "type": "array", "items": { "type": "string" } }
            ]
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api-public/payments": {
      "post": {
        "summary": "Criar pagamento dinâmico",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePaymentRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pagamento criado com sucesso",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentPublicView" }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Loja inativa",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Listar pagamentos por loja",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1, "minimum": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "approved",
                "review",
                "not_approved",
                "paid",
                "withdrawal_processing",
                "receipt_sent",
                "rejected"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de pagamentos",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListPaymentsResponse" }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api-public/payments/{id}": {
      "get": {
        "summary": "Buscar pagamento por ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Pagamento encontrado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentGetView" }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Pagamento não encontrado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  }
}
